body{
  
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }
  
  .container{
      width:80%;
      margin: auto;
      overflow: hidden;
  }
  
  ul {
      margin: 0;
      padding: 0;
  
  }
  
  /* HEADER */
  
  header{
      background-color:  #1c2e4a;
      color: white;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: #e8491d 3px solid;
  }
  
  header a{
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
  }
  
  
  header li {
      float: left;
      display: inline;
      padding: 0 20px 0 20px; 
  }
  
  header #branding {
      float: left;
  
  }
  
  header #branding h1 {
      margin: 0;
  }
  
  header nav {
      float: right;
      margin-top: 30px;
  }
  
  header .highlight {
      color: #e8491d;
      font-weight: bold;
  }
  
  header a:hover {
      color: #e8491d;
      font-weight: bold;
  }
  
  /* Showcase */
   
   #showcase {
       min-height: 600px;
       background: linear-gradient(rgba(0,0, 0,0.4) , rgba(0,0,0,0.4)) , url(./ces.jpg) no-repeat ;
       background-size: cover;
       background-position: center;
       color: #ffffff;
       text-align: center;
  
   }
  
   #showcase h1 {
       font-family: 'Anton', sans-serif;
      font-size: 50px;
       margin-top: 250px;
       padding: 0;
       text-shadow: 5px 4px 5px black;
  
   }
  
  
   #showcase p {
       font-family: 'Caveat', cursive;
       font-size: 25px;
       margin-top: -20px;
       text-shadow: 5px 4px 5px black;
   }
  
  
  /* BOXES */
  
  #boxes {
      margin-top: 25px;
    }
  
  #boxes .box {
      float: left;
      width: 30%;
      text-align: center;
      
  }
  
  #boxes .box img {
      width: 150px;
      height: 160px;
  }
  
  
  /* FOOTER */
  
  footer {
      min-height: 30px;
      background-color:#e8491d ;
      color: white;
      text-align: center;
  
  }
  
  footer p { 
      
       padding-top: 7px;
      
       }
  
  
  /* INPUT */


#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }